[Unit]
Description={{{project.name}}}

[Service]
ExecStart={{{path.startScript}}}
User={{{unix.user}}}
Group={{{unix.user}}}

[Install]
WantedBy=multi-user.target
