[Unit]
Description={{{project.name}}}

[Service]
ExecStart={{{path.startScript}}}
Restart={{#unix.respawn}}always{{/unix.respawn}}{{^unix.respawn}}no{{/unix.respawn}}
OOMScoreAdjust=-1000
User={{{unix.user}}}
Group={{{unix.user}}}

[Install]
WantedBy=multi-user.target
